html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f8faff;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.tipntrip-wrapper {
  position: relative;
  margin: 0 auto;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}

.tipntrip-info {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 auto;
  width: 1279px;
}

.tipntrip-screens {
  width: 529px;
}

.tipntrip-content {
  width: 708px;
  height: 100%;
  align-self: flex-start;
}

.tipntrip-brand {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 20px;
}

.tipntrip-brand-logo {
  width: 50.4px;
  height: 50.4px;
}

.tipntrip {
  font-weight: 500;
}

.tipntrip-brand .tipntrip {
  font-family: Rubik;
  font-size: 30.6px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.7px;
  text-align: left;
  color: #232e4d;
}

.tipntrip-slogan {
  font-family: Rubik;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #232e4d;
  margin-top: 20px;
  margin-bottom: 15px;
}

.tipntrip-description {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #232e4d;
  margin-top: 15px;
  margin-bottom: 25px;
}

.tipntrip-appstore-link {
  width: 117.9px;
  height: 38.3px;
  margin-top: 25px;
}

.tipntrip-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.tipntrip-footer ul{
  list-style: none;
  display: flex;
  justify-content: center;
  opacity: 0.6;
  font-family: Rubik;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: #232e4d;
}

.tipntrip-footer ul li {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}
